<html>
    <head>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        <script>
            $(function () {
                var socket = io();
                var ctx = document.getElementById("myChart").getContext('2d');
                socket.on('data', function(data) {
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        maintainAspectRatio: false,
                        responsive:true,
                        data: {
                            labels: Object.values(data)[0],
                            datasets: [{
                                label: 'Training accuracy',
                                data: Object.values(data)[1],
                                pointRadius:0,
                                backgroundColor: [
                                    'rgba(0,0,0,0)',
                                ],
                                borderColor:[
                                    'rgba(255,51,0,1)'
                                ],
                                borderWidth: 1
                            },
                            {
                                label: 'Testing accuracy',
                                data: Object.values(data)[3],
                                pointRadius:0,
                                backgroundColor: [
                                    'rgba(0,0,0,0)',
                                ],
                                borderColor:[
                                    'rgba(0,153,51,1)'
                                ],
                                borderWidth: 1
                            }],
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:true
                                    }
                                }]
                            }
                        }
                    });
                });
              });
        </script>
    </head>
    <body>
    <canvas id="myChart"></canvas>
    </body>
</html>